/* 最新文章图标 */
.newPost {
    position: absolute;
    top: 0;
    color: rgba(255, 255, 255, 0.92);
    padding: 0 15px;
    background-color: #49b0f5b9;
    border-radius: 0 0 10px 10px;
    right: 40px;
}
@media screen and (max-width:600px){
  .newPost {
    right: 0px;
    padding: 0 12px;
    border-radius: 0 10px 0px 10px;
}
}