div#runtime {
    width: fit-content;
    color: #fff;
    padding: 0 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

[data-theme="dark"] div#runtime {
    color: #28b4c8;
    box-shadow: 0 0 5px rgba(28, 69, 218, 0.71);
}